<ion-view view-title="Search">
  <ion-content>
      <form id= "translatorSearchForm" name= "translatorSearchForm" ng-submit="submitTranslatorSearch()">
        <div class="list">

          <label class="item item-input item-select">
            <div class="input-label">
              Translates from:
            </div>
            <select name="searchSource" ng-model="searchSourceLang" required>
                <option value="English">English</option>
                <option value="French">French</option>
                <option value="German">German</option>
                <option value="Russian">Russian</option>
                <option value="Spanish">Spanish</option>
            </select>
          </label>
            
        <label class="item item-input item-select">
            <div class="input-label">
              Translates into:
            </div>
            <select name="searchTarget" ng-model="searchTargetLang" required>
                <option value="English">English</option>
                <option value="French">French</option>
                <option value="German">German</option>
                <option value="Russian">Russian</option>
                <option value="Spanish">Spanish</option>
            </select>
          </label>
            
        <label class="item item-input item-select">
            <div class="input-label">
              Specialization:
            </div>
             <select name="searchSpec" ng-model="searchSpec" required>
                <option value="general">General</option>
            	<option value="computer">Computer</option>
				<option value="legal">Legal</option>
				<option value="medical">Medical</option>
				<option value="technical">Technical</option>
			</select>
          </label>

        </div>
          <button class="button button-block button-positive" type="submit">Submit</button>
      </form>
  </ion-content>
</ion-view>
